:root {
  --white: #ffffff;
  --black: #000;
  --offBlack: #232323;
  --greyLight: #EBEBEB;
  --greyMed-1: #707070;
  --greyDark: #212121;
  --tscBlue: #0e8ff9;
  --tcsBlue-2: #4485c6;
  --grey-4: #f7f9fa;
  --black-3: #000f31;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--offBlack);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

a:visited {
  color: var(--offBlack);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: none !important;
}

:root {
  --white: #ffffff;
  --black: #000;
  --offBlack: #232323;
  --greyLight: #EBEBEB;
  --greyMed-1: #707070;
  --greyDark: #212121;
  --tscBlue: #0e8ff9;
  --tcsBlue-2: #4485c6;
  --grey-4: #f7f9fa;
  --black-3: #000f31;
}

.main-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .main-container {
    width: 98%;
  }
}

.section-title-container h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .section-title-container h1 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1000px) {
  .section-title-container h1 {
    font-size: 28px;
  }
}

.block-2-whole-wrapper {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 150px;
}

@media all and (max-width: 601px) {
  .block-2-whole-wrapper {
    margin-bottom: 100px;
  }
}

.block-2-whole-wrapper .block-2-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 6%;
          column-gap: 6%;
}

@media only screen and (max-width: 1000px) {
  .block-2-whole-wrapper .block-2-container {
    -webkit-column-gap: 3%;
            column-gap: 3%;
  }
}

.block-2-whole-wrapper .block-2-container .column-1, .block-2-whole-wrapper .block-2-container .column-2 {
  margin: 0 auto;
}

.block-2-whole-wrapper .block-2-container .card-1 {
  margin-bottom: 80px;
}

.block-2-whole-wrapper .block-2-container a.card-block-2 {
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: block;
}

.block-2-whole-wrapper .block-2-container a.card-block-2 .link-title-container {
  padding: 20px 0;
  width: 250px;
  padding-left: 20px;
}

@media all and (max-width: 600px) {
  .block-2-whole-wrapper .block-2-container a.card-block-2 .link-title-container {
    padding-left: 0px;
    width: 140px;
    font-size: 15px;
  }
}

.block-2-whole-wrapper .block-2-container a.card-block-2 .link-title-container p:nth-child(1) {
  line-height: 1.4;
  font-weight: 600;
  text-align: left;
}

.block-2-whole-wrapper .block-2-container a.card-block-2 .link-title-container .know-more {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--tscBlue);
  text-transform: capitalize;
  font-size: 16px;
  margin-top: 8px;
}

@media all and (max-width: 601px) {
  .block-2-whole-wrapper .block-2-container a.card-block-2 .link-title-container .know-more {
    font-size: 14px;
  }
}

.block-2-whole-wrapper .block-2-container a.card-block-2:hover {
  background: var(--tscBlue);
  color: #FFF;
}

.block-2-whole-wrapper .block-2-container a.card-block-2 .image-container {
  overflow: hidden;
}

.block-2-whole-wrapper .block-2-container a.card-block-2 .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.card-block-2:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.block-3-whole-wrapper {
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 6%;
          column-gap: 6%;
}

@media only screen and (max-width: 600px) {
  .block-3-whole-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}

.block-3-whole-wrapper .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-3-whole-wrapper .square-3 {
  cursor: pointer;
  display: block;
  position: relative;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  height: 400px;
}

@media only screen and (max-width: 1000px) {
  .block-3-whole-wrapper .square-3 {
    height: 260px;
  }
}

.block-3-whole-wrapper .square-3 div {
  position: absolute;
  bottom: 0;
  right: 0;
}

.block-3-whole-wrapper .square-3 div div {
  padding: 0 20px 20px 0;
}

.block-3-whole-wrapper .square-3 div div p {
  margin-bottom: 10px;
  text-transform: capitalize;
  line-height: 1.4;
}

.block-3-whole-wrapper .square-3 div div h2 {
  font-weight: 600;
}

.block-3-whole-wrapper .shape-1 {
  width: 100%;
  background-color: #92cbff;
  margin-bottom: 40px;
}

.block-3-whole-wrapper .shape-1:hover {
  background-color: rgba(146, 203, 255, 0.8);
}

@media only screen and (max-width: 600px) {
  .block-3-whole-wrapper .shape-1 {
    margin-bottom: 0px;
  }
}

.block-3-whole-wrapper .shape-2 {
  color: #FFF;
  width: 100%;
  background-color: #08416F;
}

.block-3-whole-wrapper .shape-2:hover {
  background-color: rgba(8, 65, 111, 0.8);
}

@media only screen and (max-width: 600px) {
  .block-3-whole-wrapper .shape-2 {
    margin: 20px 0;
  }
}

.block-3-whole-wrapper .shape-3 {
  color: #FFF;
  background: var(--tscBlue);
  width: 100%;
}

.block-3-whole-wrapper .shape-3:hover {
  background-color: rgba(14, 143, 249, 0.8);
}

.block-4-whole-wrapper {
  margin-top: 30px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .block-4-whole-wrapper {
    margin-bottom: 50px;
  }
}

.block-4-whole-wrapper .block-4-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 6%;
          column-gap: 6%;
}

@media only screen and (max-width: 600px) {
  .block-4-whole-wrapper .block-4-container {
    -webkit-column-gap: 3%;
            column-gap: 3%;
  }
}

.block-4-whole-wrapper .block-4-container .column-1, .block-4-whole-wrapper .block-4-container .column-2 {
  margin: 0 auto;
}

.block-4-whole-wrapper .block-4-container .card-1 {
  margin-bottom: 90px;
}

.block-4-whole-wrapper .block-4-container a.card-block-4 {
  color: var(--offBlack);
  display: block;
  cursor: pointer;
  border-top: 2px solid #000;
}

.block-4-whole-wrapper .block-4-container a.card-block-4 .press-container p {
  margin: 15px 0;
  text-transform: capitalize;
  color: var(--greyMed-1);
  font-size: 16px;
}

.block-4-whole-wrapper .block-4-container a.card-block-4 .image-container {
  overflow: hidden;
}

.block-4-whole-wrapper .block-4-container a.card-block-4 .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.block-4-whole-wrapper .block-4-container a.card-block-4 .link-title-container {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.block-4-whole-wrapper .block-4-container a.card-block-4 .link-title-container .link-title-main {
  line-height: 1.4;
  padding-left: 20px;
  font-weight: 600;
  text-align: left;
  width: 300px;
  padding-top: 20px;
  margin-bottom: 12px;
}

@media all and (max-width: 1100px) {
  .block-4-whole-wrapper .block-4-container a.card-block-4 .link-title-container .link-title-main {
    width: 200px;
  }
}

@media all and (max-width: 600px) {
  .block-4-whole-wrapper .block-4-container a.card-block-4 .link-title-container .link-title-main {
    width: 150px;
    padding-left: 0px;
    font-size: 15px;
  }
}

.block-4-whole-wrapper .block-4-container a.card-block-4 .link-title-container .know-more {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 20px;
  color: var(--tscBlue);
  text-transform: capitalize;
  font-size: 16px;
  padding-bottom: 15px;
}

@media all and (max-width: 600px) {
  .block-4-whole-wrapper .block-4-container a.card-block-4 .link-title-container .know-more {
    font-size: 14px;
    padding-left: 0px;
  }
}

a.card-block-4:hover img {
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
}

a.card-block-4:hover .link-title-container {
  background: var(--tscBlue);
  color: #FFF;
}

a.card-block-4:hover .know-more, a.card-block-2:hover .know-more {
  color: #FFF !important;
}

:root {
  --white: #ffffff;
  --black: #000;
  --offBlack: #232323;
  --greyLight: #EBEBEB;
  --greyMed-1: #707070;
  --greyDark: #212121;
  --tscBlue: #0e8ff9;
  --tcsBlue-2: #4485c6;
  --grey-4: #f7f9fa;
  --black-3: #000f31;
}

nav.nav-wrapper {
  overflow-x: hidden;
  padding: 20px 0;
  background-color: var(--black-3);
}

nav.nav-wrapper .nav-container-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

@media all and (max-width: 1450px) {
  nav.nav-wrapper .nav-container-main {
    width: 95%;
  }
}

nav.nav-wrapper .nav-container-main .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.nav-wrapper .nav-container-main .logo-container img {
  padding-left: 10px;
  margin: auto;
  width: 150px;
}

nav.nav-wrapper .nav-container-main .links-container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us-btn {
  display: block;
  margin-left: 40px;
  background: var(--black-3);
  padding: 0 20px;
  text-align: center;
  color: var(--white);
  border: var(--white) solid 1px;
  border-radius: 50px;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  height: 50px;
  width: 100%;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

@media all and (max-width: 600px) {
  .contact-us-btn {
    display: none;
  }
}

.contact-us-btn:hover {
  background-color: var(--white);
  color: var(--black-3);
}

.container-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-nav-wrapper .menu-desktop {
  background: #fff;
  top: 50px;
  position: fixed;
  padding: 10px 30px 10px 10px;
}

.container-nav-wrapper .menu-desktop .logo-container {
  margin-bottom: 70px;
}

.container-nav-wrapper .menu-desktop .logo-container img {
  width: 150px;
  height: 45.31px;
}

.container-nav-wrapper .menu-desktop .nav-links-container {
  margin-bottom: 80px;
}

.container-nav-wrapper .menu-desktop .nav-links-container ul li {
  margin-bottom: 10px;
}

.container-nav-wrapper .menu-desktop .nav-links-container ul li a {
  font-size: 15px;
  color: var(--offBlack);
}

.container-nav-wrapper .menu-desktop .nav-links-container ul li a:hover {
  color: var(--tscBlue);
}

.search__input {
  border-radius: 50px;
  width: 200px;
  padding: 15px 24px;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-size: 12px;
  line-height: 18px;
  color: var(--white);
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.6351 22.771L17.7187 16.5827C19.2399 14.7641 20.0734 12.4759 20.0734 10.0937C20.0734 4.52814 15.5708 0 10.0367 0C4.50255 0 0 4.52814 0 10.0937C0 15.6593 4.50255 20.1875 10.0367 20.1875C12.1143 20.1875 14.0941 19.5573 15.7868 18.361L21.7482 24.5963C21.9974 24.8565 22.3325 25 22.6916 25C23.0316 25 23.3541 24.8697 23.5989 24.6327C24.119 24.1293 24.1356 23.2946 23.6351 22.771ZM10.0367 2.63315C14.1273 2.63315 17.4551 5.97988 17.4551 10.0937C17.4551 14.2076 14.1273 17.5543 10.0367 17.5543C5.94608 17.5543 2.61827 14.2076 2.61827 10.0937C2.61827 5.97988 5.94608 2.63315 10.0367 2.63315Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 90% center;
  border: 1px solid var(--white);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media all and (max-width: 1000px) {
  .search__input {
    width: 140px;
  }
}

.search__input::-webkit-input-placeholder {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:-ms-input-placeholder {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input::-ms-input-placeholder {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input::placeholder {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
  padding: 15px 24px;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--white);
  border-radius: 0;
  background-position: 100% center;
}

.mobile-contact-us-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
  width: 140px;
}

@media all and (max-width: 600px) {
  .mobile-contact-us-container {
    display: block;
  }
}

.mobile-contact-us-container .contact-us-btn2 {
  display: block;
  position: relative;
  left: -1px;
  padding: 0 20px;
  text-align: center;
  border: var(--black-3) solid 1px;
  border-radius: 50px;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  height: 50px;
  width: 100%;
  background-color: var(--grey-4);
  color: var(--black-3);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.mobile-contact-us-container .contact-us-btn2:hover {
  background: var(--black-3);
  color: var(--grey-4);
  border: var(--grey-4) solid 1px;
}

:root {
  --white: #ffffff;
  --black: #000;
  --offBlack: #232323;
  --greyLight: #EBEBEB;
  --greyMed-1: #707070;
  --greyDark: #212121;
  --tscBlue: #0e8ff9;
  --tcsBlue-2: #4485c6;
  --grey-4: #f7f9fa;
  --black-3: #000f31;
}

.hero-container {
  overflow-x: hidden;
  background-image: url("../images/annie-spratt-kZO9xqmO_TA-unsplash.jpg");
  background-color: #0e8ff9;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 1000px;
  margin: 70px auto 70px auto;
  position: relative;
}

@media all and (max-width: 1001px) {
  .hero-container {
    width: 100%;
  }
}

@media all and (max-width: 601px) {
  .hero-container {
    height: 40vh;
    margin: 0 auto 70px auto;
  }
}

.hero-container div {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.hero-container p {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

.hero-container h1 {
  margin: 5px 0 30px 0;
  color: #fff;
  font-weight: 600;
}

.hero-container button {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: 400;
  padding: 10px 20px;
  background: var(--tscBlue);
  color: #fff;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
}

.hero-container button:hover {
  background: #fff;
  color: var(--offBlack);
}

.landing-main {
  height: auto;
  background: var(--grey-4);
  width: 100%;
}

@media all and (max-width: 1200px) {
  .landing-main {
    font-size: 30px;
  }
}

.landing-block-1 {
  padding: 20px 0;
  margin: 0 auto;
  width: 1000px;
}

.landing-block-1 .landing-nav-container {
  margin-top: 50px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media all and (max-width: 800px) {
  .landing-block-1 .landing-nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

.landing-block-1 h1 {
  font-size: 48px;
  font-weight: 600;
}

@media all and (max-width: 1200px) {
  .landing-block-1 h1 {
    font-size: 30px;
  }
}

@media all and (max-width: 1100px) {
  .landing-block-1 {
    width: 90%;
  }
}

.landing-block-1 ul.top-ul {
  margin-right: 80px;
}

@media all and (max-width: 800px) {
  .landing-block-1 ul.top-ul {
    margin-top: 20px;
    margin-right: 0;
  }
}

.landing-block-1 ul {
  width: 230px;
}

.landing-block-1 ul li {
  margin-bottom: 20px;
}

.landing-block-1 ul li a {
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
}

@media all and (max-width: 700px) {
  .landing-block-1 ul li a {
    font-size: 1rem;
  }
}

.landing-block-1 ul li a img {
  display: inline-block;
}

.landing-block-1 ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #e5ecf4;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}

.landing-block-1 ul li:hover ::after {
  background-color: #0e8ff9;
}

.overlay-links {
  color: var(--white);
  display: none;
  position: fixed;
  z-index: 20000;
  background-color: var(--greyDark);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.overlay-links div {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay-links div p {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 100px;
  cursor: pointer;
}

.overlay-links div p:hover {
  color: var(--tscBlue);
}

.overlay-links div article {
  margin: auto;
  width: 500px;
}

@media all and (max-width: 601px) {
  .overlay-links div article {
    padding-top: 50px;
  }
}

.overlay-links div article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 601px) {
  .overlay-links div article div {
    padding-left: 20px;
  }
}

.overlay-links div article div h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--tscBlue);
}

.overlay-links div article div ul li {
  color: var(--white);
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 25px;
}

.overlay-links div article div ul li:hover {
  color: var(--tscBlue);
}

.contact-us-btn-mobile {
  display: none;
  margin-left: 40px;
  background: var(--black-3);
  padding: 0 20px;
  text-align: center;
  color: var(--white);
  border: var(--white) solid 1px;
  border-radius: 50px;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  height: 50px;
  width: 100%;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.contact-us-btn-mobile:hover {
  background-color: var(--white);
  color: var(--black-3);
}

:root {
  --white: #ffffff;
  --black: #000;
  --offBlack: #232323;
  --greyLight: #EBEBEB;
  --greyMed-1: #707070;
  --greyDark: #212121;
  --tscBlue: #0e8ff9;
  --tcsBlue-2: #4485c6;
  --grey-4: #f7f9fa;
  --black-3: #000f31;
}

.swiper-container {
  cursor: pointer;
  padding: 20px 0 60px 0;
  margin-bottom: 100px;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide {
  -webkit-transform: translate3d(0, 0, 0) !important;
  max-width: 100%;
  width: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide .overlay3 {
  margin: 0 auto;
  width: 300px;
  text-align: left;
}

.swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
  position: relative;
}

.swiper-container .swiper-button-prev {
  top: 0;
  left: 3px !important;
  background: pink;
}

.swiper-container .swiper-button-next {
  top: 0;
  right: 3px !important;
  left: 90vw;
  bottom: 20px;
  background: pink;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid #000 2px;
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet:focus, .swiper-pagination-bullet-active:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.writing-container-swiper {
  line-height: 1.4;
}

.writing-container-swiper p:nth-child(1) {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
}

.writing-container-swiper p:nth-child(2) {
  font-size: 15px;
}

:root {
  --white: #ffffff;
  --black: #000;
  --offBlack: #232323;
  --greyLight: #EBEBEB;
  --greyMed-1: #707070;
  --greyDark: #212121;
  --tscBlue: #0e8ff9;
  --tcsBlue-2: #4485c6;
  --grey-4: #f7f9fa;
  --black-3: #000f31;
}

.faq-main-container {
  width: 100%;
  max-width: 1500px;
  margin: 50px auto 20px auto;
}

.faq-main-container .faq-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.faq-main-container .faq-title-container h1 {
  padding: 10px 0;
  text-transform: capitalize;
  margin: auto;
  font-weight: 400;
  font-size: 1.2rem;
}

@media all and (max-width: 601px) {
  .faq-main-container .faq-title-container h1 {
    margin: 0 0 0 3%;
    font-size: 1rem;
  }
}

.faq-main-container .faq-title-container h1 span {
  font-family: var(--fontSerif);
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  color: var(--greyMed);
}

@media all and (max-width: 601px) {
  .faq-main-container .faq-title-container h1 span {
    font-size: 1.7rem;
  }
}

.faq-main-container .accordion {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
}

@media all and (max-width: 601px) {
  .faq-main-container .accordion {
    width: 95%;
    margin: 10px auto;
  }
}

.faq-main-container .accordion .accordion-item .accordion-item-header {
  border-bottom: 1px solid var(--greyDark);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600 !important;
  padding: 0.5rem 1rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

@media all and (max-width: 601px) {
  .faq-main-container .accordion .accordion-item .accordion-item-header {
    font-size: 0.8rem;
    padding: 0.2rem 3rem 0.2rem 0.2rem;
  }
}

.faq-main-container .accordion .accordion-item .accordion-item-header::after {
  font-family: serif;
  content: "\003E";
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  top: 29%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.faq-main-container .accordion .accordion-item .accordion-item-header.active::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq-main-container .accordion .accordion-item .accordion-item-header.first {
  border-top: 1px solid var(--greyMed);
}

.faq-main-container .accordion .accordion-item .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid var(--greyMed);
  padding-left: 10px;
}

.faq-main-container .accordion .accordion-item .accordion-item-body ul {
  margin-top: 20px;
}

.faq-main-container .accordion .accordion-item .accordion-item-body-content {
  font-size: 15px;
  padding: 0 1rem 1rem 1rem;
}

@media all and (max-width: 601px) {
  .faq-main-container .accordion .accordion-item .accordion-item-body-content {
    padding: 0.5rem 1rem 1rem 1rem;
  }
}

.faq-main-container .accordion .accordion-item .accordion-item-body-content ul li {
  list-style: circle inside none !important;
  margin-bottom: 10px;
}

.faq-main-container .accordion .accordion-item .accordion-item-body-content ul li a {
  color: var(--offBlack);
}

@media all and (max-width: 601px) {
  .faq-main-container .accordion .accordion-item .accordion-item-body-content ul li {
    list-style: circle outside none;
  }
}

:root {
  --white: #ffffff;
  --black: #000;
  --offBlack: #232323;
  --greyLight: #EBEBEB;
  --greyMed-1: #707070;
  --greyDark: #212121;
  --tscBlue: #0e8ff9;
  --tcsBlue-2: #4485c6;
  --grey-4: #f7f9fa;
  --black-3: #000f31;
}

footer {
  background: var(--grey-4);
  width: 100%;
}

footer .footer-wrapper-desktop {
  max-width: 1400px;
  display: block;
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

@media all and (max-width: 1000px) {
  footer .footer-wrapper-desktop {
    display: none;
  }
}

footer .footer-wrapper-desktop .footer-link-container {
  padding-left: 30px;
}

footer .footer-wrapper-desktop .footer-link-container h3 {
  text-transform: uppercase;
  color: var(--offBlack);
  font-size: 16px;
  font-weight: 600 !important;
  margin-bottom: 10px;
}

footer .footer-wrapper-desktop .footer-link-container h4 {
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600 !important;
  font-size: 14px;
}

footer .footer-wrapper-desktop .footer-link-container ul li {
  margin-bottom: 4px;
}

footer .footer-wrapper-desktop .footer-link-container ul li a {
  font-size: 13px;
  color: var(--offBlack);
  text-transform: capitalize;
}

footer .footer-wrapper-desktop .footer-link-container ul li a:hover {
  color: var(--tscBlue);
}

.footer-wrapper-mobile {
  display: none;
}

@media all and (max-width: 1000px) {
  .footer-wrapper-mobile {
    padding: 10px 0;
    display: block;
  }
}

.links-container {
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.links-container ul {
  display: -webkit-box  !important;
  display: -ms-flexbox  !important;
  display: flex  !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.links-container ul li {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.icon:hover path {
  fill: rgba(0, 0, 0, 0.7);
}

.faq-main-container {
  margin-top: 0 !important;
}

.footer-signature {
  padding: 20px 0;
}

.footer-signature p {
  font-size: 13px;
  margin: 0 auto;
  max-width: 1400px;
  width: 80%;
}

@media all and (max-width: 1000px) {
  .footer-signature p {
    text-align: center;
    width: 75%;
  }
}

.mobile-footer-connect-with-us {
  margin: 0 auto;
  display: none;
  text-align: center;
  width: 90%;
}

.mobile-footer-connect-with-us h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
}

.mobile-footer-connect-with-us .mobile-links-container {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-footer-connect-with-us .mobile-links-container ul {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-footer-connect-with-us .mobile-links-container ul li:nth-child(2) {
  margin-left: 10px;
}

.mobile-footer-connect-with-us .mobile-links-container ul li:nth-child(2), .mobile-footer-connect-with-us .mobile-links-container ul li:nth-child(3) {
  margin-right: 10px;
}

.mobile-footer-connect-with-us .links-2-footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 200;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-footer-connect-with-us .links-2-footer li a {
  color: #000;
}

.mobile-footer-connect-with-us .links-2-footer li:nth-child(2) {
  margin-left: 10px;
}

.mobile-footer-connect-with-us .links-2-footer li:nth-child(2), .mobile-footer-connect-with-us .links-2-footer li:nth-child(3), .mobile-footer-connect-with-us .links-2-footer li:nth-child(4) {
  margin-right: 10px;
}

@media all and (max-width: 1000px) {
  .mobile-footer-connect-with-us {
    display: block;
  }
}
