@import "_var";
.hero-container {
    overflow-x: hidden;
    background-image: url("../images/annie-spratt-kZO9xqmO_TA-unsplash.jpg");
    background-color:#0e8ff9;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1000px;
    @media all and (max-width: 1001px) {
        width: 100%; 
    }
    
    @include mobile {
        
        height: 40vh;
        margin: 0 auto 70px auto;

    }
    margin: 70px auto 70px auto;
    position: relative;

    div {
       position: absolute;
       bottom: 10%;
       left: 5%;
    }
    p {
        color: #fff;
        font-size: 20px;
        font-weight: 200;
    }
    h1 {
        margin: 5px 0 30px 0;
        color: #fff;
        font-weight: 600;
        
    }
    button {
            cursor: pointer;
            display: inline-block;
            border: 0;
            font-weight: 400;
            padding: 10px 20px;
            background:var(--tscBlue);
            color: #fff;
            font-size: 15px;
            transition: all 0.3s;
            text-transform: capitalize;
            &:hover {
                background:#fff;
                color: var(--offBlack);
                
            }
        
    }
}
.landing-main {
    height: auto;
    background: var(--grey-4);
    width: 100%;
    @media all and (max-width: 1200px) {
        font-size: 30px;
    }
}

.landing-block-1 {
    
    .landing-nav-container {
        margin-top: 50px;
        margin-bottom: 30px;
        //outline: red solid 1px;
        display: flex;
        flex-direction: row;
        @media all and (max-width: 800px) {
            flex-direction: column;
            margin-top: 20px;
         }

    }
    

    h1 {
font-size: 48px;
font-weight: 600;
@media all and (max-width: 1200px) {
    font-size: 30px;
}
    }
    padding: 20px 0;
    margin: 0 auto;
    width: 1000px;
    @media all and (max-width: 1100px) {
       width: 90%;
    }
    ul.top-ul {
        
        @media all and (max-width: 800px) {
            margin-top: 20px;
            margin-right: 0;
        }
        margin-right: 80px;
    }
    ul {
        //
        //outline: red solid 1px;
        width: 230px;
        li {
            margin-bottom: 20px;
            a {
                text-transform: capitalize;
                font-size: 1rem;
                position:relative;
               
               // text-align:center;
                @media all and (max-width: 700px) {
                    font-size: 1rem;
                }
            
               // border-bottom: 2px solid var(--black);
               // border-bottom: 3px solid var(--black);
                //display: inline-block;
                img {
                    display: inline-block;
                }
            }
            a::after {
                content:'';
                position:absolute;
                width:100%;
                height:5px;
                background-color:#e5ecf4;
                transition: background-color 0.3s ease-in-out;
                bottom:-5px;
                left:0;
                right:0;
                margin:auto;
                @media all and (max-width: 700px) {
                    // width:100px;
                    // bottom:-7px;
                }
            }
        }
    }
   
}


.landing-block-1 ul li:hover ::after  {
    background-color: #0e8ff9;
}

.overlay-links {
    color: var(--white);
    display: none;
    position: fixed;
    z-index: 20000;
    background-color: var(--greyDark);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    div {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        p {
            position: absolute;
            top: 0;
            right: 30px;
            font-size: 100px;
            cursor: pointer;
            &:hover {
                color: var(--tscBlue); 
            }

        }
        article {
            margin: auto;
            width: 500px;
            @include mobile {
                padding-top: 50px ; 
             }
            div {
                @include mobile {
                   padding-left: 20px ; 
                }
                display: flex;
                flex-direction: column;
                //outline: red solid 1px;
                h3 {
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    color: var(--tscBlue);
                }
                ul {
                    li {
                        color: var(--white);
                        margin-bottom: 10px;
                        cursor: pointer;
                        font-size: 25px;
                        &:hover {
                            color: var(--tscBlue); 
                        }

                    }
                }
                
              
            }
           


        }
    }
}

.contact-us-btn-mobile {
    display: none;
    margin-left: 40px;
    background: var(--black-3);
    padding: 0 20px;
    text-align: center;
    color:var(--white);
    border: var(--white) solid 1px; 
    border-radius: 50px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    height: 50px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    &:hover {

// background: rgba(#232323, 0.8);
background-color: var(--white); 
color:var(--black-3);
    }
}