@import "_var";
nav.nav-wrapper {
    overflow-x: hidden;
    padding: 20px 0;
    background-color: var(--black-3);
    .nav-container-main {
        display: grid;
        grid-template-columns: auto 1fr auto;
        margin: 0 auto;
        width: 100%;
        max-width: 1400px;
        @media all and (max-width:1400px) {
            width: 95%;
        }
        .logo-container {
            display: flex;
            img {
                padding-left: 10px;
                margin: auto;
                //outline: blanchedalmond solid 1px;
                width: 150px;
                
            }
            
        }
        .empty-block {

        }
        .links-container-nav {
            display: flex;
            align-items: center;
 
         }
      
       
    }
}
.contact-us-btn {
    display: block;
    margin-left: 40px;
    background: var(--black-3);
    padding: 0 20px;
    text-align: center;
    color:var(--white);
    border: var(--white) solid 1px; 
    border-radius: 50px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    height: 50px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    &:hover {

// background: rgba(#232323, 0.8);
background-color: var(--white); 
color:var(--black-3);
    }
}



.container-nav-wrapper {
  
    display: flex;
    justify-content: flex-end;
    .menu-desktop {
        background: #fff;
        top: 50px;
        position: fixed;
        padding: 10px 30px 10px 10px;

        .logo-container {
            margin-bottom: 70px;
            img {
                width: 150px;
                height: 45.31px;
            }
        }
        .search-container {
            img {
               //fill: red !important;
            }
        }
        .nav-links-container {
            margin-bottom: 80px;
            ul {
                li {
                    margin-bottom: 10px;
                    a {
                        font-size: 15px;
                        color: var(--offBlack);
                        &:hover {
                            color: var(--tscBlue);
                        }

                    }
                }
            }
        }
      
    }
 
}

// @import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

// /* Base styling */

// body {
//     width: 430px;
//     margin: 0 auto;
//     background-color: #F7CAC9;
//     font-family: 'Raleway', sans-serif;
// }

.search__container {
//margin-bottom: 15px;
    }


// @@@@@@@@@@@@@@@@ search box @@@@@@@@@@@@@@@
.search__input {
    border-radius: 50px;
        width: 200px;
        padding: 15px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 12px;
        line-height: 18px;
        color:  var(--white);
        background-color: transparent; 
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.6351 22.771L17.7187 16.5827C19.2399 14.7641 20.0734 12.4759 20.0734 10.0937C20.0734 4.52814 15.5708 0 10.0367 0C4.50255 0 0 4.52814 0 10.0937C0 15.6593 4.50255 20.1875 10.0367 20.1875C12.1143 20.1875 14.0941 19.5573 15.7868 18.361L21.7482 24.5963C21.9974 24.8565 22.3325 25 22.6916 25C23.0316 25 23.3541 24.8697 23.5989 24.6327C24.119 24.1293 24.1356 23.2946 23.6351 22.771ZM10.0367 2.63315C14.1273 2.63315 17.4551 5.97988 17.4551 10.0937C17.4551 14.2076 14.1273 17.5543 10.0367 17.5543C5.94608 17.5543 2.61827 14.2076 2.61827 10.0937C2.61827 5.97988 5.94608 2.63315 10.0367 2.63315Z' fill='white'/%3E%3C/svg%3E%0A");        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 90% center;
        //border-radius: 50px;
        border: 1px solid var(--white);
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        @media all and (max-width: 1000px) {
            width: 140px;
        }
    }

.search__input::placeholder {
            color:  var(--white);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

.search__input:hover,
  .search__input:focus {
            padding: 15px 24px;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid  var(--white);
            border-radius: 0;
            background-position: 100% center;
        }



