.main-container {
    //background: red;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    section.container-content-wrapper {
        grid-column: 1 / span 2;  
        //background: red;
        //height: 100px;
    }
    nav.container-nav-wrapper {
        grid-column: 3 / span 1; 
        //background: blue;
        height: 100px;
    }
}

.block-2-whole-wrapper {
    margin-top: 30px;
    margin-bottom: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    .column-1, .column-2 {
        margin:0 auto;
        //width: calc(100% - 70px);
        @media only screen and (max-width: 1000px) {
        //width: calc(100% - 40px);
        //background: red;
       }

        //padding:; 
        .card-1 {
            margin-bottom: 80px;
        }
        a.card-block-2 {
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            display: block;
           
            .link-title {
                padding: 20px 0;
                p {
                    font-weight: 600;
                    font-size: 16px;
                    text-align: left;
                    width: 250px;
                    //margin-top: 30px;
                    padding-left: 20px;
                    &:hover {
                      //padding-left: 3px;
                    }
                }
            }
           &:hover {
               background: var(--tscBlue);
               color: white;
           }
           .image-container {
            overflow: hidden;
            img {
                object-fit: cover;
                transition: all 0.3s ease-in-out;           
                &:hover {
                    
                  }
               }
           }
         
        }
    }
}

a.card-block-2:hover img {
    transform: scale(1.05);
}
// h1 title
.section-title-container {
   h1 {
       font-weight: 600;
}
}

.block-4-whole-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    .column-1, .column-2 {
        margin:0 auto;
       // width: calc(100% - 70px);
        @media only screen and (max-width: 1000px) {
        //width: calc(100% - 40px);
        //background: red;
       }

        //padding:; 
        .card-1 {
            margin-bottom: 80px;
        }
        .card-block-4 {
            border-top: 1px solid #000;
            .press-container {
                p {
                    text-transform: uppercase;
                    color: grey;
                }
            }
           
            .link-title {
                p {
                    font-weight: 700;
                    font-size: 16px;
                    text-align: left;
                    width: 250px;
                    margin-top: 30px;
                }
            }

        }
    }
}

