@import "_var";

.main-container {
    //background: red;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    height: auto;
    @media only screen and (max-width: 1000px) {
            width: 98%;
       }
//    display: grid;
//    grid-template-columns: repeat(3, 1fr);
//    grid-template-rows: repeat(3, auto);
    //  .block-2-whole-wrapper {
    //     grid-column: 1 / span 2;  
    //     grid-row: 1 / span 1;
      
    // }
    // .block-3-whole-wrapper {
    //     //background-color: red;
    //     grid-column: 2 / span 2; 
    //     grid-row: 2 / span 1;
        
       
    // }
    // .block-4-whole-wrapper {
    //     grid-column: 1 / span 2; 
    //     grid-row: 3 / span 1;
      
        
    // }
}


// h1 title =============================
.section-title-container {
    h1 {
        font-size: 16px*2.5;
        font-weight: 600;
        margin-bottom: 30px;
        @media only screen and (max-width: 600px) {
            font-size: 22px;
           }
           @media only screen and (max-width: 1000px) {
            font-size: 28px;
           }
 }
 }


.block-2-whole-wrapper {
    
    width: 100%;
    //background-color: cadetblue;
    margin-top: 30px;
    margin-bottom: 150px;
    @include mobile {
        margin-bottom: 100px; 
    }
    .block-2-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6%;
        @media only screen and (max-width: 1000px) {
            column-gap: 3%;
       }
        .column-1, .column-2 {
            margin:0 auto;
            //width: calc(100% - 70px);
            @media only screen and (max-width: 1000px) {
            //width: calc(100% - 40px);
            //background: red;
           }
        }
    
            //padding:; 
            .card-1 {
                margin-bottom: 80px;
            }
            a.card-block-2 {
               
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                display: block;
               
                .link-title-container {
                    
                    padding: 20px 0;
                    width: 250px;
                    padding-left: 20px;
                    @media all and (max-width: 600px) {
                        //width: 150px;
                        padding-left: 0px;
                        width: 140px;
                        //outline: red solid 1px;
                        font-size: 15px;
                    }
                    @media all and (max-width: 1000px) {
                        //width: 200px;
                    }
                    
                    p:nth-child(1) {
                        
                        line-height: 1.4;
                        font-weight: 600;
                        text-align: left;
                           
                        //margin-top: 30px;
                        
                        &:hover {
                          //padding-left: 3px;
                        }
                    }
                    .know-more {
                        transition: all 0.3s ease-in-out;     
                            color: var(--tscBlue);
                            text-transform: capitalize;
                            font-size: 16px;
                            margin-top: 8px;
                            @include mobile {
                                font-size: 14px;
                            }
                            
                          
                        }
                }
    
               &:hover {
                   background: var(--tscBlue);
                   color: #FFF;
               }
    
               .image-container {
                overflow: hidden;
                img {
                    object-fit: cover;
                    transition: all 0.3s ease-in-out;           
                    &:hover {
                        
                      }
                   }
               }
             
            }
    }
   
    
}

a.card-block-2:hover img {
    transform: scale(1.05);
    @media all and (max-width: 600px) {
        //width: 140px !important;
   
    }
}



.block-3-whole-wrapper {
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 6%;
    @media only screen and (max-width: 600px) {
        grid-template-columns:  1fr;
        margin-bottom: 50px;
       }
     .column-2 {
         display: flex;
         align-items: center;
     }
    .square-3 {
        
        cursor: pointer;
       display: block;
       position: relative;
       transition: background-color 0.3s ease-in-out;
       height: 400px;
       @media only screen and (max-width: 1000px) {
        height: 260px;
       }
       @media only screen and (max-width: 600px) {
        //height: 250px;
        //border: 20px solid #fff;
       }
      
       div {
          position: absolute;
          bottom: 0;
          right: 0;
          div {
             padding: 0 20px 20px 0;
             p {
                 margin-bottom: 10px;
                 text-transform: capitalize;
                 line-height: 1.4;
             }
             h2 {
                 font-weight: 600;
             }
          }
       }
    //    @media only screen and (max-width: 600px) {
    //     .make-left {
        
    //         right: 0;
    //         div {
    //             width: 200px;
    //             outline: red solid 1px;
                
    //         }
          
    //        }
    //    }
       
    }
    .shape-1 {
        
        &:hover {
            background-color: rgba(#92cbff, 0.8);
        }
        width: 100%;
        // background: #242B2E;
        background-color: #92cbff;
        margin-bottom: 40px;
        @media only screen and (max-width: 600px) {
            margin-bottom: 0px;
           }
    }
    .shape-2{
        color: #FFF;
        &:hover {
            background-color: rgba(#08416F, 0.8);
        }
        width: 100%;
        background-color:  #08416F; 
        @media only screen and (max-width: 600px) {
            margin: 20px 0;
           } 
    }
    .shape-3 {
        color: #FFF;
        &:hover {
            background-color: rgba(#0e8ff9, 0.8);
        }
        //outline: salmon solid 1px;
        background: var(--tscBlue);
        width: 100%;
       // margin-bottom: 70px ;  
    }

}



.block-4-whole-wrapper {
    
      
    margin-top: 30px;
    margin-bottom: 100px;
    @media only screen and (max-width: 600px) {
        margin-bottom: 50px;
   }
    .block-4-container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6%;
        @media only screen and (max-width: 600px) {
            column-gap: 3%;
       }
    .column-1, .column-2 {
        margin:0 auto;
       // width: calc(100% - 70px);
        @media only screen and (max-width: 1000px) {
        //width: calc(100% - 40px);
        //background: red;
       }
    }

        //padding:; 
        .card-1 {
            margin-bottom: 90px;
        }
        a.card-block-4 {
            color: var(--offBlack);
            //transition: all 0.3s ease-in-out;   
            display: block;
            cursor: pointer;
            border-top: 2px solid #000;
            .press-container {
                p {
                 
                    margin: 15px 0;
                    text-transform: capitalize;
                    color: var(--greyMed-1);
                    font-size: 16px;
                }
            }
            // &:hover {
            //     background: var(--tscBlue);
            //     color: #FFF;
            // }

            .image-container {
                //outline: red solid 1px;
                overflow: hidden;
                img {
                    object-fit: cover;
                    transition: all 0.3s ease-in-out;           
                    &:hover {
                        
                      }
                   }
               }
            
           
            .link-title-container {
                transition: all 0.3s ease-in-out;   
                .link-title-main {
                   
                    line-height: 1.4;
                   // outline: red solid 1px;
                    padding-left: 20px;
                    font-weight: 600;      
                    text-align: left;
                    width: 300px;
                    //outline: red solid 1px;
                    @media all and (max-width: 1100px) {
                        width: 200px;
                        // font-size: 15px;
                        // padding-left: 10px;
                    }
                    @media all and (max-width: 600px) {
                        width: 150px;
                        padding-left: 0px;
                        font-size: 15px;
                    }
                    padding-top: 20px;
                    margin-bottom: 12px;
                   
                    
                }
               .know-more {
                transition: all 0.3s ease-in-out;  
                    padding-left: 20px;
                    color: var(--tscBlue);
                    text-transform: capitalize;
                    font-size: 16px;
                    padding-bottom: 15px;
                    @media all and (max-width: 600px) {
                        //width: 150px;
                        font-size: 14px;
                        padding-left: 0px;
                    }
                }
            }

        }
    }
    
}

a.card-block-4:hover img {
    transform: scale(1.05) !important;
}
a.card-block-4:hover .link-title-container {
    background: var(--tscBlue);
  color: #FFF;
}
a.card-block-4:hover .know-more , a.card-block-2:hover .know-more {
    
  color: #FFF !important;
}

//background: #f2f2f2;