@import "_var";


*, *:before, *:after{
    //outline: 1px solid red;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     color: var(--offBlack);
     font-family: 'Inter', sans-serif;
font-size: 16px;
   font-weight: 400;
   font-style: normal;
   //background: var(--offWhite);
   text-rendering: optimizeLegibility;
   //overflow-x: hidden;
}
li {
    list-style: none !important;
}
a {
    text-decoration: none !important;
}
a:visited {
    color: var(--offBlack);
  }
img {
    display: block;
    max-width: 100%;
    height: auto;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button:focus {
  outline: none;
  box-shadow: none;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active  { 
       outline: none !important;  
    }
     

@import "_structure";
@import "_nav";
@import "_landing";
@import "_slider";
@import "_accordian";
@import "_footer";