@import "_var";


*, *:before, *:after{
    //outline: 1px solid red;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     color: var(--offBlack);
     font-family: 'Inter', sans-serif;
font-size: 16px;
   font-weight: 400;
   font-style: normal;
   //background: var(--offWhite);
   text-rendering: optimizeLegibility;
   overflow-x: hidden;
}
li {
    list-style: none !important;
}
a {
    text-decoration: none !important;
}
a:visited {
    color: var(--offBlack);
  }
img {
    display: block;
    max-width: 100%;
    height: auto;
}

@import "_structure";
@import "_nav";
@import "_landing";
@import "_accordian";
@import "_footer";